.feature-section{
    padding-top: 91px;
    padding-bottom: 39px;
    @media only screen and (max-width: 768px){
        padding-top: 53px;
        padding-bottom: 49px;
    }
    .icon-box{
        .icon-box-header{
            padding-bottom: 10px;
        }
    }
    .mobile-margin{
        @media only screen and (max-width: 768px){
            margin-bottom: 55px;
        }
    }
}