.feature-section{
    padding-top: 91px;
    padding-bottom: 23px;
    .icon-box{
        .icon-box-header{
            padding-bottom: 10px;
        }
    }
    .mobile-margin{
        @media only screen and (max-width: 991px){
            margin-bottom: 55px;
        }
    }
}