header{
    display: flex;
    justify-content: center;
    padding-top: 26px;
    background-color: transparent;
    z-index: 1;
    max-height: 110px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .header-left{
        .navbar{
            padding: 0px;
            .navbar-brand{
                margin-right: 112px;
                img{
                    height: 79px;
                    width: 79px;
                }
            }
        .navbar-collapse{
            @media only screen and (max-width: 991px){
                background-color: $color-white;
                padding: 20px 10px;
                border-radius: 8px;
            }
        }
             
            .nav-item{
                &:not(:last-child){
                    padding-right: 64px;
                    @media (min-width: 917px) and (max-width: 1024px) {
                        padding-right: 26px;
                        
                    }
                }
                .nav-link{
                    color: $color-gray;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
    
        }

    }
    .header-right{
        margin-top: 2%;
        padding-left: 105px;
        @media (min-width: 917px) and (max-width: 1024px) {
            padding-left: 30px;
        }
        @media (min-width: 0px) and (max-width: 991px) {
            padding-left: 0px;
        }
        .dual-btn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media only screen and (max-width: 767px){
                display: none;
            }
            button{
                text-transform: uppercase;
                .btn-icon{
                    margin-right: 10px;
                }
            }
        }
    }
    
    
}
.active{
    color: $color-primary !important;
}