.my-cart{
    padding-top: 195px;
    .section-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 133%;
        color: $color-heading;
        span{
            padding-right: 16px;
        }
    }
    .cart-left-container{
        @media only screen and (max-width: 768px){
            order: 2
        }
        .accordion{
            margin-top: 38px;
            .card{
                background: #FFFFFF;
                /* Black / Overlay */

                border: 1px solid #E7E7E7;
                box-sizing: border-box;
                /* Card Shadow */

                box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0883);
                border-radius: 8px;
                padding-left: 28px;
                padding-right: 28px;
                padding-bottom: 41px;
                padding-top: 26px;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
                .card-header{
                    border: none;
                    background-color: transparent;
                    display: flex;
                    
                        align-items: center;
                        justify-content: space-between;
                        @media only screen and (max-width: 768px){
                            flex-wrap: wrap;
                        }
                    .acrd-btn-title{
                        
                        .left{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h6{
                                background-color: #F8A81B;
                                width: 29px;
                                height: 29px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 18px;
                                color: #FFFFFF;
                                margin-right: 18px;
                            }
                            h4{
                                font-style: normal;
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 27px;

                                /* Black / 100% */

                                color: #343434;
                            }
                        }
                        .cart-edit-info-btn{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            letter-spacing: 0.03em;
                            padding: 9px 21px;
                            @media only screen and (max-width: 768) {
                                margin-top: 12px;
                            }
                        }
                    }
                }
                .card-body{
                    
                    .card-body-title-container-logged{
                        background: #FFFFFF;
                        /* Black / Overlay */

                        border: 1px solid #E7E7E7;
                        box-sizing: border-box;
                        /* Soft Shadow */

                        box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0383);
                        border-radius: 8px;
                        padding: 18px;
                        h3{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 22px;
                            line-height: 30px;
                            color: #343434;
                            padding-bottom: 6px;
                        }
                        p{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 137.1%;
                            /* or 19px */

                            letter-spacing: 0.03em;

                            /* Black / 80% */

                            color: #5D5D5D;
                            span{
                                padding-right: 13px;
                            }
                            &:not(:last-child){
                                padding-bottom: 6px;
                            }
                        }
                    }
                }
            }
            .my-details{
                .card-body{
                    .card-body-title-container{
                        p{
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;

                            /* Black / 80% */

                            color: #5D5D5D;
                            padding-bottom: 21px;
                        }
                        form{
                            .form-group{
                                label{
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 137.1%;
                                    /* or 19px */

                                    letter-spacing: 0.03em;

                                    /* Black / 80% */

                                    color: #5D5D5D;
                                }
                                input{
                                    border: none;
                                    padding: 12px 15px;
                                    background: #F3F3F3;
                                    border-radius: 8px;
                                }
                                button{
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 22px;
                                    /* identical to box height */

                                    text-align: center;
                                    letter-spacing: 0.03em;

                                    color: #FFFFFF;
                                    padding: 9px 21px;
                                    img{
                                        padding-left: 14px;
                                    }
                                }
                            }
                            button{
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                /* identical to box height */

                                text-align: center;
                                letter-spacing: 0.03em;

                                color: #FFFFFF;
                                padding: 9px 21px;
                                img{
                                    padding-left: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .delivery-details{
                .card-body{
                    .card-body-title-container{
                        ul{
                            padding: 0px;
                            li{
                                padding: 17px 15px;
                                background: #FFFFFF;
                                /* Black / Overlay */

                                border: 1px solid #E7E7E7;
                                box-sizing: border-box;
                                box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0383);
                                border-radius: 10px;
                                display: flex;
                                align-items: flex-start;
                                .address-title{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    h3{
                                        font-style: normal;
                                        font-weight: bold;
                                        font-size: 18px;
                                        line-height: 25px;
                                        /* identical to box height */


                                        /* Black / 100% */

                                        color: #343434;
                                        padding-bottom: 7px;
                                    }
                                    p{
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 14px;
                                        line-height: 137.1%;
                                        /* or 19px */

                                        letter-spacing: 0.03em;

                                        /* Black / 60% */

                                        color: #858585;
                                    }
                                }
                                &:not(:last-child){
                                    margin-bottom: 16px;
                                }
                            }
                            .select-delivery{
                                input[type=radio]{
                                    position: relative;
                                    &::before{
                                        content: "";
                                        height: 25px;
                                        width: 25px;
                                        background: url(../img/Check-Circle.svg);
                                        position: absolute;
                                        top: -5px;
                                        left: -6px;
                                        background-color: $color-white;
                                    }
                                }
                            }
                        }
                        .other-address{
                            h3{
                                font-style: normal;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 25px;
                                /* identical to box height */


                                /* Black / 100% */

                                color: #343434;
                                padding-bottom: 8px;
                            }
                            form{
                                .form-group{
                                    position: relative;
                                    label{
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 14px;
                                        line-height: 137.1%;
                                        /* or 19px */

                                        letter-spacing: 0.03em;

                                        /* Black / 80% */

                                        color: #5D5D5D;
                                        span{
                                            padding-right: 12px;
                                        }
                                        padding-left: 10px;
                                    }
                                    input{
                                        border: none;
                                        padding: 12px 15px;
                                        height: 119px;
                                        background: #F3F3F3;
                                        border-radius: 8px;
                                    }
                                    .select-other{
                                        input[type=checkbox]{
                                            position: relative;
                                            &::before{
                                                content: "";
                                                height: 25px;
                                                width: 25px;
                                                background: url(../img/Check-Circle.svg);
                                                position: absolute;
                                                top: 46px;
                                                left: -6px;
                                                background-color: $color-white;
                                            }
                                        }
                                    }
                                    
                                }
                                button{
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 22px;
                                    /* identical to box height */

                                    text-align: center;
                                    letter-spacing: 0.03em;

                                    color: #FFFFFF;
                                    padding: 9px 21px;
                                    margin-top: 9px;
                                    float: right;
                                    span{
                                        img{
                                            padding-left: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .payment-details{
                ul{
                    padding: 0px;
                    li{
                        padding: 17px 15px;
                        background: #FFFFFF;
                        /* Black / Overlay */

                        border: 1px solid #E7E7E7;
                        box-sizing: border-box;
                        box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0383);
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        label{
                            display: flex;
                            flex: 1;
                        }
                        
                        .payment-icon{
                            padding-right: 26px;
                        }
                        .payment-title{
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            flex:1;
                            h3{
                                font-style: normal;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 25px;
                                /* identical to box height */


                                /* Black / 100% */

                                color: #343434;
                                padding-bottom: 7px;
                            }
                            p{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 137.1%;
                                /* or 19px */

                                letter-spacing: 0.03em;

                                /* Black / 60% */

                                color: #858585;
                            }
                        }
                        &:not(:last-child){
                            margin-bottom: 16px;
                        }
                    }
                    .select-payment{
                        input[type=radio]{
                            position: relative;
                            &::before{
                                content: "";
                                height: 25px;
                                width: 25px;
                                background: url(../img/Check-Circle.svg);
                                position: absolute;
                                top: -5px;
                                left: -6px;
                                background-color: $color-white;
                            }
                        }
                    }
                    .confirm-payment-btn{
                        font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                /* identical to box height */

                                text-align: center;
                                letter-spacing: 0.03em;

                                color: #FFFFFF;
                                padding: 9px 21px;
                                float: right;
                                img{
                                    padding-left: 14px;
                                }
                    }
                }
            }
        }
    }
    .cart-right-container{
        background: #FFFFFF;
        /* Card Shadow */

        box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0883);
        border-radius: 15px;
        margin-top: 38px;
        padding: 35px 29px;
        .desktop-list
        .section-heading{
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 133%;
            color: #343434;
        }
        ul{
            padding:0px;
            margin-top: 27px;
            li{
                background: #FFFFFF;
                /* Black / Overlay */

                border: 1px solid #E7E7E7;
                box-sizing: border-box;
                /* Soft Shadow */
                padding: 15px;
                box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0383);
                border-radius: 8px;
                
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                .desktop-list{
                    display: flex;
                    align-items: center;
                    @media only screen and (max-width: 991px){
                        flex-wrap: wrap;
                    }
                    @media only screen and (max-width: 768px){
                        display: none;
                    }
                    .left{
                        .quantity-container{
                            display: flex;
                            align-items: center;
                            margin-right: 26px;
                            .quantity-minus{
                                margin-right: 14px;
                            }
                            .quantity-plus{
                                margin-left: 14px;
                            }
                        }
                    }
                    .right{
                        display: flex;
                        align-items: center;
                        
                        @media only screen and (max-width: 991px){
                            flex-wrap: wrap;
                        }
                        img{
                            height: 53px;
                            width: 53px;
                            border-radius: 4px;
                            margin-right: 18px;
                        }
                        h4{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            
                            /* Black / 100% */
                            
                            color: #343434;
                            flex:1;
                        }
                        h5{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 137.1%;
                            /* or 19px */
    
                            letter-spacing: 0.03em;
    
                            /* Black / 100% */
    
                            color: #343434;
                            padding-left: 68px;
                        }
                    }
                }
                .mobile-list{
                    display: none;
                    .top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        img{
                            width: 52.22px;
                            height: 53px;
                            margin-right: 18px;
                        }
                        h3{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;

                        }
                    }
                    .bottom{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 12px;
                        .quantity{
                            p{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 15px;
                                line-height: 149.3%;
                                /* or 22px */

                                letter-spacing: 0.03em;

                                /* Black / 80% */

                                color: #5D5D5D;
                            }
                        }
                        .price{
                            h6{
                                font-style: normal;
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 137.1%;
                                /* or 19px */
                                
                                letter-spacing: 0.03em;
                                
                                /* OMG Pink/100% */
                                
                                color: #E3168F;
                                
                            }
                        }
                    }
                    @media only screen and (max-width: 768px){
                        display: block;
                    }
                }
                
            }
        }
        .price-container{
            margin-top: 32px;
            .subtotal, .delivery-charge, .total{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 14px;
                h3,h4{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    /* identical to box height */


                    /* Black / 100% */

                    color: #343434;
                }
            }
        }
    }
    .coupon-form{
        padding: 35px 29px;
        form{
            .form-group{
                label{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 137.1%;
                    /* or 19px */
    
                    letter-spacing: 0.03em;
    
                    /* Black / 80% */
    
                    color: #5D5D5D;
                }
                input{
                    border: none;
                    padding: 12px 15px;
                    background: #F3F3F3;
                    border-radius: 8px;
                }
            }
            button{
                padding: 9px 21px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                /* identical to box height */

                text-align: center;
                letter-spacing: 0.03em;

                color: #FFFFFF;
                img{
                    padding-left: 12px;
                }
            }
        }
    }
}
.other-input{
    display: flex;
    align-items: center;
    label{
        margin: 0px;
    }
}