.new-arrival{
    background-color: $color-bg;
    padding-top: 86px;
    @media only screen and (max-width: 768px){
        padding-top: 16px;
    }
    .section-heading{
        text-transform: capitalize;
    }
}