.product-container{
    //max-width: 265px;
    display: block;
    margin: 0 auto;
    @media only screen and (max-width: 768px){
        max-width: 100%;
    }
    .product-block-top{
        img{
            border-radius: 8px;
            margin-bottom: 26px;
            @media only screen and (max-width: 768px){
                width: 100%;
            }
        }
    }
    .product-block-bottom{
        .product-title{
            margin-bottom: 6px;
        }
        a{
            cursor: pointer;
        }
        .product-price{
            color: $color-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
        }
        .product-block-add-cart-btn{
            color: $color-primary;
            margin-top: 26px;
        }
    }
    
}
.product-mobile-margin{
    margin-bottom: 0px;   
    @media only screen and (max-width: 768px){
        margin-bottom: 55px;
    }
}
.product-margin{
    margin-bottom: 55px;
}