.shop-banner{
    padding-top: 110px; 
    background: url(../img/shop-banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    @media only screen and (max-width: 768px){
        background-position-x: 75%;
    }
    h1{
        font-style: normal;
        font-weight: 800;
        font-size: 61px;
        line-height: 110%;
        color: $color-heading;
        padding-top: 85px;
        @media only screen and (max-width: 768px){
            padding-top: unset;
        }
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 149.3%;
        letter-spacing: 0.03em;
        color: $color-text;
        padding-top: 20px;
        padding-bottom: 112px;
        @media only screen and (max-width: 768px){
            padding-bottom: 600px;
        }
    }
}
.shop-archive{
    padding-top: 43px;
    .section-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 133%;
        color: $color-heading;
        margin-bottom: -13px;
        span{
            .dual-btn{
                div{
                    background-color: transparent;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 137.1%;
                    color: #AEAEAE;
                    &:not(:last-child){
                        // color: $color-primary;
                        padding-right: 21px !important;
                    }
                    .active{
                        color: $color-primary !important;
                    }
                }
            }
        }
    }
    .shop-side-bar{
        background-color: $color-white;
        box-shadow: $box-shadow;
        border-radius: 15px;
        padding: 22px;
        @media only screen and (max-width: 768px){
            box-shadow: unset;
            border-radius: unset;
            padding: unset;
            background-color: unset;
        }
        ul{
            margin-left: -20%;
            @media only screen and (max-width: 768px){
                display: none;
            }
            li{
                color: $color-gray;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                &:not(last-child){
                    padding-bottom: 25px;
                }
                &:hover{
                    cursor: pointer;
                    color: $color-primary;
                }
            }
            .cat-active{
                color: $color-primary;
                span{
                    padding-right: 30px;
                    background: url(../img/pink-right-arrow.svg) no-repeat left center;
                }
            }
        }
        .mobile-side-bar{
            display: none;
            margin-bottom: 39px;
            @media only screen and (max-width: 768px){
                display: block;
            }
            .dropdown{
                button{
                    width: 100%;
                    background: #F3F3F3;
                    border: 1px solid #D6D6D6;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 12px 15px;
                    display: flex;
                    justify-content: space-between;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 149.3%;
                    /* or 22px */

                    letter-spacing: 0.03em;

                    /* Black / 100% */

                    color: $color-heading;
                }
                .dropdown-item{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 149.3%;
                    /* or 22px */

                    letter-spacing: 0.03em;

                    /* Black / 100% */

                    color: $color-heading;
                }

            }
            .dropdown-menu.show {
                display: block;
                width: 100%;
            }
            
        }
    }
    .shop-pagination{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        .left{
            padding-right: 47px;
        }
        .counter{
            display: flex;
            align-items: center;
            align-content: center;
            .number{
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: $color-heading;
                &:not(:last-child){
                    margin-right: 35px;
                }
            }
            .active{
                padding: 10px 14px;
                background-color: $color-secondary;
                border-radius: 6px;
                color: $color-white !important;
            }
        }
        .right{
            padding-left: 47px;
        }
    }
}
