.testimonial-section{
    padding-top: 95px;
    padding-bottom: 85px;
    background-color: $color-bg;
    .testimonial-slider{
        padding-top: 70px;
        position:relative;
        .testimonial-box{
            max-width: 265px;
            .testimonial-box-header{
                img{
                    width: 36px;
                    height: 36px;
                }
            }
            .testimonial-box-body{
                h4{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    color: $color-heading;
                    padding-top: 6px;
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: 0.03em;
                    color: $color-text;
                    margin: 3px 0px;
                }
            }
            .testimonial-box-footer{
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 25px;
                    letter-spacing: 0.03em;
                    color: $color-heading;
                    margin: 14px 0px;
                }
            }
        }
          .owl-prev, .owl-next {
              position:absolute;
           }
      
          .owl-prev {
              left:-60px;
              top: 200px;
            //   @media (min-width: 1550px){
            //     left: -50px;
            // }
            // @media (min-width: 917px) and (max-width: 1024px) {
            //     left:-40px;
            // }
            // @media (min-width: 0px) and (max-width: 991px) {
            //     left:-10px;
            // }
           }
      
           .owl-next {
              right:-60px;
              top:200px;
            //   @media (min-width: 1550px){
            //       right: -50px;
            //   }
            //     @media (min-width: 917px) and (max-width: 1024px) {
            //         right:-40px;
            //     }
            //     @media (min-width: 0px) and (max-width: 991px) {
            //         right:-10px;
            //     }
           }
           .owl-dots{
               text-align: center;
               margin-top: 40px;
               button{
                &:not(:last-child){
                    margin-right: 18px !important;
                }
               }
           }
           .owl-dots button.owl-dot {
                height: 8px;
                width: 8px;
                background-color: $border-color;
                border-radius: 50%;
                
            }
            .owl-dots button.owl-dot.active {
                height: 13px;
                width: 13px;
                background-color: #F8A81B;
            }
    }
}