//Primary Color
$color-primary: #E3168F; 
$color-secondary: #F8A81B;
$color-ternary: #F9D0E9;

// Body colors
$color-heading: #343434;
$color-text: #5D5D5D;
$color-gray: #858585;
$color-white: #ffffff;
$color-black: #010101;
$color-bg: #FEFAFD;
$border-color: #D6D6D6;
$accordion-bg: #F3F3F3;
$accordion-title: #333333;

