body, h1, h2, h3, h4, h5, h6, p, span, button, a, ul, li {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 133%;
  color: #343434;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #343434;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25.38px;
  letter-spacing: 0.03em;
  color: #5D5D5D;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.section-heading {
  text-transform: capitalize;
}

.icon-box-margin {
  margin-bottom: 60px;
}

button:active {
  outline: none;
  border: none;
}

body {
  overflow-x: hidden;
}

.other-page-footer {
  padding-top: unset;
  background-color: unset;
}

.ice-btn-primary {
  background: #E3168F;
  border-radius: 47px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 8px 20px;
}

.ice-btn-secondary {
  background: #F9D0E9;
  border-radius: 47px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #010101;
  padding: 8px 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 26px;
  background-color: transparent;
  z-index: 1;
  max-height: 110px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
@media only screen and (max-width: 991px) {
  header {
    z-index: 2;
  }
}
header .mobile-header {
  display: none;
}
@media only screen and (max-width: 991px) {
  header .mobile-header {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  header .mobile-header .navbar .navbar-collapse {
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 8px;
    position: absolute;
    width: 395px;
    top: 60px;
  }
}
header .mobile-header .navbar .navbar-collapse .nav-link {
  color: #858585;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
header .mobile-header .navbar .navbar-collapse .nav-link:hover {
  color: #E3168F;
}
header .header-left .navbar {
  padding: 0px;
}
@media only screen and (max-width: 991px) {
  header .header-left .navbar {
    display: none;
  }
}
header .header-left .navbar .navbar-brand {
  margin-right: 112px;
}
header .header-left .navbar .navbar-brand img {
  height: 79px;
  width: 79px;
}
header .header-left .navbar .nav-item:not(:last-child) {
  padding-right: 64px;
}
@media (min-width: 917px) and (max-width: 1024px) {
  header .header-left .navbar .nav-item:not(:last-child) {
    padding-right: 26px;
  }
}
header .header-left .navbar .nav-item .nav-link {
  color: #858585;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
header .header-left .navbar .nav-item .nav-link:hover {
  color: #E3168F;
}
header .header-right {
  margin-top: 2%;
  padding-left: 105px;
}
@media (min-width: 917px) and (max-width: 1024px) {
  header .header-right {
    padding-left: 30px;
  }
}
@media (min-width: 0px) and (max-width: 991px) {
  header .header-right {
    padding-left: 0px;
  }
}
header .header-right .dual-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  header .header-right .dual-btn {
    display: none;
  }
}
header .header-right .dual-btn button {
  text-transform: uppercase;
}
header .header-right .dual-btn button .btn-icon {
  margin-right: 10px;
}

.active {
  color: #E3168F !important;
}

.slider-section {
  background: rgba(252, 227, 242, 0.5);
  padding-top: 129px;
  position: relative;
}
.slider-section .home-slider .slider-item .slider-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-section .home-slider .slider-item .slider-left .slider-title {
  color: #343434;
  font-style: normal;
  font-weight: 800;
  font-size: 61px;
  line-height: 110%;
  padding-bottom: 18px;
}
.slider-section .home-slider .slider-item .slider-left .slider-title span {
  color: #E3168F;
}
.slider-section .home-slider .slider-item .slider-left .slider-description {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 149.3%;
  letter-spacing: 0.03em;
  color: #5D5D5D;
  padding-bottom: 28px;
}
.slider-section .home-slider .slider-item .slider-left .btn-slider {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px 13px 21px;
  border-radius: 47px;
  text-transform: capitalize;
}
.slider-section .home-slider .slider-item .slider-left .btn-slider span {
  padding-left: 15px;
}
.slider-section .home-slider .slider-item .slider-right .slider-img {
  width: 670px;
}
.slider-section .home-slider .owl-dots {
  position: absolute;
  left: 10%;
  top: 90%;
}
.slider-section .owl-carousel .owl-nav button.owl-next, .slider-section .owl-carousel .owl-nav button.owl-prev, .slider-section .owl-carousel button.owl-dot {
  height: 8px;
  width: 8px;
  background-color: #D6D6D6;
  border-radius: 50%;
  margin-right: 18px;
}
.slider-section .owl-dots button.owl-dot.active {
  height: 13px;
  width: 13px;
  background-color: #F8A81B;
}
.slider-section .slider-social-icons {
  position: absolute;
  top: 244px;
  right: 0;
}
@media only screen and (max-width: 991px) {
  .slider-section .slider-social-icons {
    display: none;
  }
}
.slider-section .slider-social-icons .social-icons {
  margin-right: 60px;
}
.slider-section .slider-social-icons .social-icons ul li:not(:last-child) {
  padding-bottom: 10px;
}

.feature-section {
  padding-top: 91px;
  padding-bottom: 23px;
}
.feature-section .icon-box .icon-box-header {
  padding-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .feature-section .mobile-margin {
    margin-bottom: 55px;
  }
}

.new-arrival {
  background-color: #FEFAFD;
  padding-top: 101px;
}
.new-arrival .section-heading {
  text-transform: capitalize;
}

.best-product {
  background-color: #FEFAFD;
  padding-top: 101px;
  padding-bottom: 143px;
}

.product-container {
  max-width: 265px;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .product-container {
    max-width: 100%;
  }
}
.product-container .product-block-top img {
  border-radius: 8px;
  margin-bottom: 26px;
}
@media only screen and (max-width: 768px) {
  .product-container .product-block-top img {
    width: 100%;
  }
}
.product-container .product-block-bottom .product-title {
  margin-bottom: 6px;
}
.product-container .product-block-bottom a {
  cursor: pointer;
}
.product-container .product-block-bottom .product-price {
  color: #E3168F;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.product-container .product-block-bottom .product-block-add-cart-btn {
  color: #E3168F;
  margin-top: 26px;
}

.mobile-margin {
  margin-bottom: 50px;
}

.handcrafted-icecreame-section {
  padding-top: 91px;
  padding-bottom: 75px;
  background: url(../img/Picture.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 43.5%;
}
@media only screen and (max-width: 991px) {
  .handcrafted-icecreame-section {
    background: unset;
    background-color: #ffffff;
  }
}
.handcrafted-icecreame-section .section-heading {
  padding-bottom: 40px;
}
.handcrafted-icecreame-section .icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.handcrafted-icecreame-section .icon-box .icon-box-header {
  padding-right: 26px;
}
.handcrafted-icecreame-section .icon-box .icon-box-body h4 {
  font-size: 18px;
  line-height: 25px;
}
.handcrafted-icecreame-section .icon-box .icon-box-body p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.testimonial-section {
  padding-top: 101px;
  padding-bottom: 115px;
  background-color: #FEFAFD;
}
.testimonial-section .testimonial-slider {
  padding-top: 70px;
  position: relative;
}
.testimonial-section .testimonial-slider .testimonial-box {
  max-width: 265px;
}
.testimonial-section .testimonial-slider .testimonial-box .testimonial-box-header img {
  width: 36px;
  height: 36px;
}
.testimonial-section .testimonial-slider .testimonial-box .testimonial-box-body h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
  padding-top: 6px;
}
.testimonial-section .testimonial-slider .testimonial-box .testimonial-box-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #5D5D5D;
  margin: 3px 0px;
}
.testimonial-section .testimonial-slider .testimonial-box .testimonial-box-footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #343434;
  margin: 14px 0px;
}
.testimonial-section .testimonial-slider .owl-prev, .testimonial-section .testimonial-slider .owl-next {
  position: absolute;
}
.testimonial-section .testimonial-slider .owl-prev {
  left: -60px;
  top: 200px;
}
@media (min-width: 917px) and (max-width: 1024px) {
  .testimonial-section .testimonial-slider .owl-prev {
    left: -40px;
  }
}
@media (min-width: 0px) and (max-width: 991px) {
  .testimonial-section .testimonial-slider .owl-prev {
    left: -10px;
  }
}
.testimonial-section .testimonial-slider .owl-next {
  right: -60px;
  top: 200px;
}
@media (min-width: 917px) and (max-width: 1024px) {
  .testimonial-section .testimonial-slider .owl-next {
    right: -40px;
  }
}
@media (min-width: 0px) and (max-width: 991px) {
  .testimonial-section .testimonial-slider .owl-next {
    right: -10px;
  }
}
.testimonial-section .testimonial-slider .owl-dots {
  text-align: center;
  margin-top: 40px;
}
.testimonial-section .testimonial-slider .owl-dots button:not(:last-child) {
  margin-right: 18px !important;
}
.testimonial-section .testimonial-slider .owl-dots button.owl-dot {
  height: 8px;
  width: 8px;
  background-color: #D6D6D6;
  border-radius: 50%;
}
.testimonial-section .testimonial-slider .owl-dots button.owl-dot.active {
  height: 13px;
  width: 13px;
  background-color: #F8A81B;
}

.faq-section {
  padding-top: 101px;
  padding-bottom: 107px;
}
.faq-section .accordion {
  margin-top: 68px;
}
.faq-section .accordion .card {
  border: none;
}
.faq-section .accordion .card .card-header {
  border: none;
  padding: 16px 25px;
  background: #F3F3F3;
  border-radius: 8px;
  margin: 10px 0px;
}
.faq-section .accordion .card .card-header .acrd-btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq-section .accordion .card .card-header .acrd-btn h3 {
  color: #333333;
}
.faq-section .accordion .card .card-body {
  background: rgba(252, 232, 244, 0.5);
  border-radius: 8px;
  padding: 16px 25px;
  padding-bottom: 29px;
  margin: 10px 0px;
}
.faq-section .accordion .card .card-body .card-body-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-icon-open {
  width: 25px;
  height: 25px;
  background: url(../img/Arrow-Down.svg);
}

.accordion-icon-off {
  width: 25px;
  height: 25px;
  background: url(../img/Arrow-Up.svg);
}

.shop-banner {
  padding-top: 110px;
  background: url(../img/shop-banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .shop-banner {
    background-position-x: 75%;
  }
}
.shop-banner h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 61px;
  line-height: 110%;
  color: #343434;
  padding-top: 85px;
}
@media only screen and (max-width: 768px) {
  .shop-banner h1 {
    padding-top: unset;
  }
}
.shop-banner p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 149.3%;
  letter-spacing: 0.03em;
  color: #5D5D5D;
  padding-top: 20px;
  padding-bottom: 112px;
}
@media only screen and (max-width: 768px) {
  .shop-banner p {
    padding-bottom: 600px;
  }
}

.shop-archive {
  padding-top: 43px;
}
.shop-archive .section-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  color: #343434;
  margin-bottom: -13px;
}
.shop-archive .section-heading span .dual-btn div {
  background-color: transparent;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 137.1%;
  color: #AEAEAE;
}
.shop-archive .section-heading span .dual-btn div:not(:last-child) {
  color: #E3168F;
  padding-right: 21px !important;
}
.shop-archive .shop-side-bar {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0883);
          box-shadow: 0px 0px 79.1px rgba(0, 0, 0, 0.0883);
  border-radius: 15px;
  padding: 22px;
}
@media only screen and (max-width: 768px) {
  .shop-archive .shop-side-bar {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    border-radius: unset;
    padding: unset;
    background-color: unset;
  }
}
.shop-archive .shop-side-bar ul {
  margin-left: -20%;
}
@media only screen and (max-width: 768px) {
  .shop-archive .shop-side-bar ul {
    display: none;
  }
}
.shop-archive .shop-side-bar ul li {
  color: #858585;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.shop-archive .shop-side-bar ul li:first-child {
  color: #E3168F;
}
.shop-archive .shop-side-bar ul li:first-child span {
  padding-right: 13px;
}
.shop-archive .shop-side-bar ul li:not(last-child) {
  padding-bottom: 25px;
}
.shop-archive .shop-side-bar ul li:hover {
  cursor: pointer;
  color: #E3168F;
}
.shop-archive .shop-side-bar .mobile-side-bar {
  display: none;
  margin-bottom: 39px;
}
@media only screen and (max-width: 768px) {
  .shop-archive .shop-side-bar .mobile-side-bar {
    display: block;
  }
}
.shop-archive .shop-side-bar .mobile-side-bar .dropdown button {
  width: 100%;
  background: #F3F3F3;
  border: 1px solid #D6D6D6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 149.3%;
  /* or 22px */
  letter-spacing: 0.03em;
  /* Black / 100% */
  color: #343434;
}
.shop-archive .shop-side-bar .mobile-side-bar .dropdown .dropdown-item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 149.3%;
  /* or 22px */
  letter-spacing: 0.03em;
  /* Black / 100% */
  color: #343434;
}
.shop-archive .shop-side-bar .mobile-side-bar .dropdown-menu.show {
  display: block;
  width: 100%;
}
.shop-archive .shop-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px;
}
.shop-archive .shop-pagination .left {
  padding-right: 47px;
}
.shop-archive .shop-pagination .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.shop-archive .shop-pagination .counter .number {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #343434;
}
.shop-archive .shop-pagination .counter .number:not(:last-child) {
  margin-right: 35px;
}
.shop-archive .shop-pagination .counter .active {
  padding: 10px 14px;
  background-color: #F8A81B;
  border-radius: 6px;
  color: #ffffff !important;
}
.shop-archive .shop-pagination .right {
  padding-left: 47px;
}

.product-detials {
  padding-top: 210px;
}
@media only screen and (max-width: 768px) {
  .product-detials {
    padding-top: 190px;
  }
}
.product-detials .product-single-img-container {
  position: relative;
}
.product-detials .product-single-img-container .product-navigation {
  position: absolute;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 768px) {
  .product-detials .product-single-img-container .product-navigation {
    left: 8px;
    top: -64px;
  }
}
.product-detials .product-single-img-container .product-img {
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .product-detials .product-single-img-container .product-img {
    margin-right: 0px;
  }
}
.product-detials .product-excerpt {
  padding-left: 30px;
}
@media only screen and (max-width: 768px) {
  .product-detials .product-excerpt {
    padding-left: 15px;
    padding-top: 41px;
  }
}
.product-detials .product-excerpt .product-category {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 137.1%;
  /* or 19px */
  color: #858585;
  letter-spacing: 0.03em;
  padding-bottom: 13px;
}
.product-detials .product-excerpt .product-title-single {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 133%;
  /* or 40px */
  color: #343434;
}
.product-detials .product-excerpt .single-price {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 133%;
  color: #343434;
  padding-top: 10px;
  padding-bottom: 17px;
}
.product-detials .product-excerpt .product-description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 165.3%;
  letter-spacing: 0.03em;
  color: #858585;
  padding-bottom: 29px;
}
.product-detials .product-excerpt .product-feature ul {
  padding-left: 0px;
}
.product-detials .product-excerpt .product-feature ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 149.3%;
  letter-spacing: 0.03em;
  color: #343434;
}
.product-detials .product-excerpt .product-feature ul li:not(:last-child) {
  padding-bottom: 10px;
}
.product-detials .product-excerpt .product-feature ul li span {
  padding-right: 10px;
}
.product-detials .product-excerpt .product-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 37px;
}
@media only screen and (max-width: 768px) {
  .product-detials .product-excerpt .product-action {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.product-detials .product-excerpt .product-action .single-product-quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 47px;
}
.product-detials .product-excerpt .product-action .single-product-quantity-container .quantity-minus {
  margin-right: 30px;
}
.product-detials .product-excerpt .product-action .single-product-quantity-container .quantity-plus {
  margin-left: 30px;
}
.product-detials .product-excerpt .product-action .single-add-cart button {
  padding: 13px 20px 13px 21px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.single-product-review {
  padding-top: 93px;
}
.single-product-review .section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 34px;
}
@media only screen and (max-width: 768px) {
  .single-product-review .section-heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.single-product-review .section-heading h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 133%;
  color: #343434;
}
.single-product-review .section-heading button {
  padding: 13px 20px 13px 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #E3168F;
}
@media only screen and (max-width: 768px) {
  .single-product-review .section-heading button {
    margin-top: 23px;
  }
}
.single-product-review .section-heading button span {
  padding-right: 11px;
}
.single-product-review .reviews-container ul {
  padding-left: 0px;
}
.single-product-review .reviews-container ul li .customer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.single-product-review .reviews-container ul li .customer-details .customer-avatar {
  padding-right: 22px;
}
.single-product-review .reviews-container ul li .customer-details .customer-description h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
  margin-bottom: 1px;
}
.single-product-review .reviews-container ul li .customer-details .customer-description p {
  font-weight: normal;
  font-size: 14px;
  line-height: 137.1%;
  /* or 19px */
  letter-spacing: 0.03em;
  color: #858585;
}
.single-product-review .reviews-container ul li .review-text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 149.3%;
  /* or 25px */
  letter-spacing: 0.03em;
  /* Black / 100% */
  color: #343434;
  padding-top: 14px;
}
.single-product-review .reviews-container ul li:not(:last-child) {
  padding-bottom: 52px;
}

footer {
  padding-top: 101px;
  padding-bottom: 61px;
  background-color: #FEFAFD;
}
footer .footer-top .footer-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (max-width: 768px) {
  footer .footer-top .footer-top-right .form-inline {
    margin-top: 29px;
  }
}
footer .footer-top .footer-top-right .form-inline .form-group .form-control {
  padding: 12px 15px;
  width: 449px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #D6D6D6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}
@media (min-width: 769px) and (max-width: 991px) {
  footer .footer-top .footer-top-right .form-inline .form-group .form-control {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-top .footer-top-right .form-inline .form-group .form-control {
    width: 395px !important;
  }
}
footer .footer-top .footer-top-right .form-inline button {
  padding: 13px 20px 13px 21px;
  margin-left: 10px;
}
@media only screen and (max-width: 768px) {
  footer .footer-top .footer-top-right .form-inline button {
    margin-left: unset;
    margin-top: 29px;
  }
}
footer .footer-middle {
  margin-top: 29px;
}
footer .footer-middle img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
footer .footer-bottom {
  margin-top: 68px;
}
footer .footer-bottom .copyright-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #5D5D5D;
}
footer .footer-bottom .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  footer .footer-bottom .social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-bottom .social-icons ul {
    margin-top: 21px;
    margin-left: -38px;
  }
}
footer .footer-bottom .social-icons ul li {
  display: inline;
}
footer .footer-bottom .social-icons ul li:not(:last-child) {
  padding-right: 40px;
}